<!-- Google Analytics 4 (GA4) Snippet -->
<!-- Measurement ID: G-9M6498Y7W4 | Stream ID: 13204202167 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9M6498Y7W4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-9M6498Y7W4', {
        'anonymize_ip': true,
        'cookie_flags': 'SameSite=None;Secure'
    });
    
    // Make gtag available globally
    window.gtag = gtag;
</script>
